.homepage {
    font-family: Arial, sans-serif;
  }
  
  .footer {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #87ad64; 
    color: #fff;
    border-top: 1px solid #ccc;
  }
  
  .footer section {
    background-color: transparent;
    color: #fff;
  }

  .footer h2 {
    color: #fff;
    font-family: 'Lora', serif;
  }
  