.hours {
    text-align: center;
    padding: 20px;
    background-color: #7ca068; 
    color: #fff;
    font-family: 'Lora', serif;
    border-radius: 10px;
    margin: 20px;
  }
  
  .hours h2 {
    color: #fff;
    font-size: 2rem;
  }
  